.buttonsContainer {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.responseContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 17px;
}

.imageContainer {
}

.image {
}

.textContainer{
    width: 420px;
}

.code {
    font-weight: 600;
    font-size: 31px;
    margin-bottom: 15px;
}

.text {
}
.info {
}